@import url(font/font.css);

.layout{
    display: flex;
}
nav{
width: 68px;
background-color: #3f5f82;
padding-top: 12px;
text-align: center;
}
.nav__icons{
    margin-top: 400px;
}
nav img{
    width: 30px;
    height: 20px;
    margin-bottom: 12px;
}
main{
    width: 62%;
}
aside{
    width: 396px;
    background-color: #F7F8FA;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
aside p{
    margin-left: 12px;
    margin-right: 12px;
    color: #9B9C9E;
}
aside h1{
    margin-left: 12px;
}