@import url(font/font.css);
@import url(../modules/sidebar.css);
@import url(../modules/content.css);
@import url(../components/button.css);
@import url(../components/input.css);

$text-grey: #A5A5A7;
$text-black: #595A5C;

.layout{
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
}
.sidebar__text{
    font-family: 'Open Sans' sans-serif;
}