doctype html
html(lang="en-us")
    head
        meta(charset="UTF-8")
        title Title page
        link(rel="stylesheet", href="css/styles/main.css")
    body
        .layout
            aside.sidebar
                .sidebar__inner
                    .sidebar__icon
                        img(src="images/arrow.png")
                    nav.nav
                        ul.nav__list
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")                            
            main.content
                .content__inner
                    .content__text
                        p.content__text__p Notifycation add-on
                        h1.content__text__h1 Notify users via email
                    .content__form 
                        h2 Set conditions
                        .form
                            span.form__span Require 
                            ul.form__list
                                li.form__item
                                    button.button
                                        span.button__body
                                            span.button__text All
                                li.form__item
                                    button.button 
                                        span.button__body
                                            span.button__text Any
                            span.form__span of the conditions are met:    
                            .form__btn
                                button.form__btn__button
                                    span.form__btn__button__body
                                        span.form__btn__button__img
                                            img(src="https://img.icons8.com/material-outlined/26/000000/plus.png")
                                        span.form__btn__button__text Add another conditions
                            h2 Set add-on usage
            aside.sidebar
                .sidebar__text
                    h2.sidebar__text__h2 General Information
                    p.sidebar__text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe blanditiis a harum asperiores dolor officia, error minus voluptatem repellendus, deserunt deleniti, quaerat numquam quasi enim eius iusto, fugiat incidunt nulla.             