doctype html
html(lang="en-us")
    head
        meta(charset="UTF-8")
        title Title page
        link(rel="stylesheet", href="css/styles/main.css")
    body
        .layout
            aside.sidebar
                .sidebar__inner
                    .sidebar__icon
                        img(src="images/arrow.png")
                    nav.nav
                        ul.nav__list
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")
                            li.nav__item
                                a(href="#").nav__link
                                    span.nav__img
                                        img(src="images/bell.png")                            
            main.content
                .content__inner
                    .content__text
                        p.content__text__p Notifycation add-on
                        h1.content__text__h1 Notify users via email
                    .content__form 
                        h2.content__form__h2 Set conditions
                        .content__form__button
                            span.content__form__button__span Require 
                            ul.content__form__button__list
                                li.content__form__button__item
                                    button.content__form__button__button-conditions All
                                li.content__form__button__item
                                    button.content__form__button__button-conditions Any
                            span.content__form__button__span of the conditions are met:
            aside.sidebar
                .sidebar__text
                    h2.sidebar__text__h2 General Information
                    p.sidebar__text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe blanditiis a harum asperiores dolor officia, error minus voluptatem repellendus, deserunt deleniti, quaerat numquam quasi enim eius iusto, fugiat incidunt nulla.             